.navbar__section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    background-color: #1b1b42;
}

.btns {
    display: flex;
    gap: 0.5rem;
}

.btns button {
    padding: 0.25rem 1rem;
}

.authentication__info,
.user__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.user__info h2 {
    color: #FFF;
    font-size: 1rem;
}

.profile__img {
    width: 2rem;
    border-radius: 50%;
}