/* .dndnode {
    font-size: 20px;
}

.dndflow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 90vh;
    width: 100%;
}


.nodes__list {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.card {
    padding: 0.5rem;
}

.dndflow .dndnode {
    height: 30px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}


.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.dndflow .selectall {
    margin-top: 10px;
} */